player-connection-mode=Listen
player-connection-guid=1755452292
player-connection-debug=0
player-connection-project-name=KitsuneCards
player-connection-ip=10.14.0.2
player-connection-ip=10.40.110.94
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1cc49be8e5b04c9a89750814249dac40
