player-connection-mode=Listen
player-connection-guid=2711098675
player-connection-debug=0
player-connection-project-name=KitsuneCards
player-connection-ip=10.14.0.2
player-connection-ip=10.40.69.206
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
nolog=
build-guid=504af93f1a394b6e9cee7237589cc34b
